/***<ITEMS-CONTAINER>***/
#items-container {
	margin-top: 5px;
	clear: both;
}

#items-container>div:first-child {
	font-family: "Times New Roman", serif;
	clear: both;
}

#items-container .items-title {
	font-size: 1.2em;
	color: #5c6941;
	float: left;
}

#items-container .items-title>span{
	font-style: italic;
}

#items-container .items-title>span:before{ content: "(";}
#items-container .items-title>span:after{ content: ")";}

#items-container .count-items {
	text-align: right;
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
	color: #5c6941;
}

#items-container .top-container {
	margin-top: 40px;
	clear: both;
}

#items-container .top-container .display-options {
	float: left;
}

#items-container .display-options .twice,
#items-container .display-options .thrice,
#items-container .display-options .fourfold,
#items-container .display-options .list
{
	float: left;
	margin: 0 2.5px;
	cursor: pointer;
}
#items-container .display-options .twice,
#items-container .display-options .thrice,
#items-container .display-options .fourfold {
	width: 22px;
	height: 22px;
}
#items-container .display-options .twice {
	background: url(images/display_options.png) 0 0 no-repeat;
}
#items-container .display-options .thrice{ 
	background: url(images/display_options.png) -22px 0 no-repeat;
}
#items-container .display-options .fourfold{
	background: url(images/display_options.png) -44px 0 no-repeat;
}

#items-container .display-options .list {
	background: url(images/display_options.png) -66px 0 no-repeat;
	width: 41px;
	height: 22px;
}

#items-container .display-options .twice.active,
#items-container .display-options .thrice.active,
#items-container .display-options .fourfold.active,
#items-container .display-options .list.active {
	box-shadow: inset 2px 2px 2px #5c6941;
}

#items-container .display-options select {
	width: 150px;
	height: 22px;
	color: #adbd8e;
	border: 1px solid #adbd8e;

	-webkit-appearance: none;
	background-image: url('images/select_arrow_down.png');
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 1em;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;

	outline: none;
	font-family: "Times New Roman", serif;
	padding-right: 7px;

}

#items-container .display-options select::-ms-expand {
  display: none;
}

#items-container .top-container {
	overflow: hidden;
}

#items-container .items-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#items-container .items-container .item{
	display: block;
	float: left;
	text-decoration: none;
	color: #464646;
	border: 1px solid #24310a;
	
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

	-webkit-transition-property:  width, font-size;
	-o-transition-property: width, font-size;
	transition-property: width, font-size;

	-webkit-transition-duration: .75s;
	-o-transition-duration: .75s;
	transition-duration: .75s;
	/*-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;*/
}

#items-container .items-container .item .country-article{
	margin: 5px;
	font-style: italic;
	font-size: .9em;
	color: #959595;
}
#items-container .items-container .item .item-title{
	height: 2.4em;
	line-height: 1.2em;
	overflow: hidden;
	word-wrap: nowrap;
	margin: 0 5px;
	font-weight: bold;
}
#items-container .items-container .item .item-title a{
	text-decoration: none;	
	color: #464646;
}
#items-container .items-container .item .reviews{
	float: left;
	font-size: .7em;
	margin-top: .5em;
	margin-left: 5px;
	color: #364616;
}

#items-container .items-container .item .reviews>a{
	text-decoration: none;
	color: #364616;
}

#items-container .items-container .item .item-availability{
	text-align: right;
	font-size: .7em;
	margin-top: .5em;
	margin-right: 5px;
	color: #364616;
}

#items-container .items-container .item img {
	display: block;
	width: 90%;
	height: auto;
	margin: 5px auto;
	border: 1px solid #5c6941;
}
#items-container .items-container .item .btn-disable,
#items-container .items-container .item .btn-buy {
	display: block;
	float: right;
	height: 2em;
	line-height: 2em;
	width: 45%;
	background-color: #5c6941;
	margin-right: 10px;
	font-size: .8em;
	color: #fff;
	text-align: center;
	box-shadow: 1px 1px 1px #7c7f82;

	cursor: pointer;
	position: relative;
}
#items-container .items-container .item .btn-disable {
	cursor: default;
	background-color: rgba(188, 195, 172, 0.5);
}

#items-container .items-container .item .price {
	text-align: center;
	height: 2em;
	line-height: 2em;
	font-size: 1em;
}

#items-container .items-container .item .detail {
	font-style: italic;
	font-family: "Times New Roman", serif;
	font-size: .8em;
	text-align: center;
	margin-top: .3em;
}

#items-container .items-container .item .detail a{
	text-decoration: none;
	color: #464646;
}
#items-container .items-container .item .detail span:after,
#items-container .items-container .item .detail span:before {
	content: "";
	display: inline-block;
	position: relative;
	bottom: 0.2em;
	width: 15px;
	height: 1px;
}
#items-container .items-container .item .detail span:after {
background: -webkit-linear-gradient(left, #000, #000, #fff);
background: -ms-linear-gradient(left, #000, #000, #fff);
background: -moz-linear-gradient(left, #000, #000, #fff);
background: -o-linear-gradient(left, #000, #000, #fff);
background: linear-gradient(to right, #000, #000, #fff);
}
#items-container .items-container .item .detail span:before {
	background: -moz-linear-gradient(right, #000, #000, #fff );
  background: -webkit-linear-gradient(right, #000, #000, #fff);
  background: -o-linear-gradient(right, #000, #000, #fff);
  background: -ms-linear-gradient(right, #000, #000, #fff);
  background: linear-gradient(right, #000, #000, #fff);
}

/** По два***/
#items-container .items-container.twice .item{
	width: 344.5px;
	height: 458px;
	margin: 17px 40px 17px 0;
	font-size: 1.5em;
}

#items-container .items-container.twice .item:nth-child(2n){
	margin-right: 0;
}

#items-container .items-container.twice .item .item-title{
	font-size: 1.2em;
}
#items-container .items-container.twice .item img{
	max-height: 231px;
}
/** По три***/
#items-container .items-container.thrice .item{
	width: 226px;
	height: 300px;
	margin: 8.5px 24px 8.5px 0;
}

#items-container .items-container.thrice .item:nth-child(3n){
	margin-right: 0;
}
#items-container .items-container.thrice .item img{
	max-height: 150px;
}
/** По четыре***/
#items-container .items-container.fourfold .item{
	width: 171.5px;
	height: 242px;
	margin: 8.5px 10px 8.5px 0;
	font-size: .8em;
}

#items-container .items-container.fourfold .item:nth-child(4n){
	margin-right: 0;
}
#items-container .items-container.fourfold .item img{
	max-height: 113px;
}
/**Списком**/
#items-container .items-container.list .item div {
	display: inline;
}
#items-container .items-container.list .item{
	width: 99%;
	height: 50px;
	margin: 8.5px 0;
	
	float: none;
	position: relative;
}

#items-container .items-container.list .item .country-article {
	width: 300px;
	margin: 0 0 0 70px;
	display: block;
}
#items-container .items-container.list .item .item-title {
	display: block;
	float: left;
	margin: 0 0 0 70px;
	width: 300px;
	line-height: .9em;
}

#items-container .items-container.list .item .reviews{
	color: #364616;
	font-size: .7em;
	margin: 0;
	position: absolute;
	top: 0
}

#items-container .items-container.list .item .item-availability{
	text-align: left;
	display: block;
	position: absolute;
	top: 2em;
	left: 370px;
	font-size: .7em;
	margin: 0;
}

#items-container .items-container.list .item img {
	width: 50px;
	display: block;
	position: absolute;
	top: 0;
	left: 5px;
	max-height: 36px;
}
#items-container .items-container.list .item .btn-disable,
#items-container .items-container.list .item .btn-buy {

	height: 2em;
	line-height: 2em;
	width: 100px;
	margin-right: 10px;
	font-size: .8em;
	color: #fff;
	text-align: center;
	box-shadow: 1px 1px 1px #7c7f82;

	position: absolute;
	top: 50%;
	margin-top: -1em;
	right: 10px;
}

#items-container .items-container.list .item .price {
	float: right;
	height: 2em;
	line-height: 2em;
	font-size: 1em;

	position: absolute;
	top: 50%;
	margin-top: -1em;
	right: 130px;
}

#items-container .items-container.list .item .detail {
	display: none;
}

/***Окно ожидания загрузки при сортировки товара***/
.items-container .meblya-modal {
	display: none;
}
.items-container .meblya-modal.active {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}
#items-container .items-container .item .btn-buy>.wait,
.items-container .meblya-modal.active .preloader{
	background-image: url(images/preloader.svg);
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 50%; left: 50%;
	margin-left: -24px; margin-top: -24px;

	-webkit-animation: anim-meblya-preloader 1s linear infinite;
	-o-animation: anim-meblya-preloader 1s linear infinite;
	animation: anim-meblya-preloader 1s linear infinite;
}

@keyframes anim-meblya-preloader {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#items-container .items-container .item .btn-buy>.wait {
	background-image: url(images/preloader_24px.svg);
	width: 24px;
	height: 24px;
	margin-left: -12px; margin-top: -12px;
}
/***</ITEMS-CONTAINER>***/

/**<MODAL WINDOW>**/
.basket-modal-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(100, 100, 100, 0.75);
	z-index: 1332;
}

.basket-modal-wrapper.active {
	display: block;
}
.basket-modal-wrapper.active .basket-modal-window{
	position: absolute;
	top: 30%;
	left: 50%;
	width: 400px;
	height: auto;
	margin-left: -200px;
	background-color: #bdcba2;
	border-radius: 10px;
	opacity: 1;

	-webkit-transition-property: opacity, top;
	-o-transition-property: opacity, top;
	transition-property: opacity, top;

	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;

	box-shadow: 0 0px 20px #5c6941;
	z-index: 1334;
	color: #f0f2eb;
}

.basket-modal-wrapper.active .basket-modal-window .status-panel {
	width: 100%;
	height: 2em;
	line-height: 2em;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #8A9674;
	color: #454C37;
	text-align: center;
	position: relative;

	
}
.basket-modal-wrapper.active .basket-modal-window .status-panel span{
	display: inline-block;
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}

.basket-modal-wrapper.active .basket-modal-window .status-panel .close {
	background: url(images/modal-window/ic_close.svg) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	float: right;
	margin-top: .5em;
	margin-right: .5em;
	
	cursor: pointer;
}

.basket-modal-wrapper.active .basket-modal-window .content{
	margin: 20px;
}


/***/
.basket-modal-wrapper.active .basket-modal-window .content{
	text-align: center;
}
.basket-modal-wrapper.active .basket-modal-window .content img {
	margin: 10px auto;
	display: block;
}

.basket-modal-wrapper.active .basket-modal-window .content a {
	text-decoration: none;
	color: #f0f2eb;
}
.basket-modal-wrapper.active .basket-modal-window .content a.btn {
	display: inline-block;
	margin: 10px auto 0px auto;
	padding: 10px 20px;
	background-color: #71844C;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 5px #C1CEA9;
	box-shadow: inset 2px 2px 15px #C1CEA9;
}
/*****/
/**</MODAL WINDOW>**/